body{margin:0; padding:0; background-color:#DD9FDD; font-family:Tahoma, Geneva, sans-serif;}

.contrainer{
	float:left;
	width:100%;
	height:auto;
}

.wrapper{
	margin: 0 auto;
	min-height: 0;
	padding: 56px 23px 15px;
	position: relative;
	width: 890px;
}

.leftfrme{
	float:left;
	width:290px;
	height:auto;
	margin-right:10px;
}

.rightframe{
	float:left;
	width:590px;
	height:auto;
}

.welcomebox-top{
	width:270px;
	height:60px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #0084B4 ;
	border-bottom: 1px solid #CCC;
	padding:10px;
	color:#FFF;
}

.welcomebox-bottom{
	width:270px;
	height:30px;
	text-indent:80px;
	font-weight:bold;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #FFF;
	border-bottom: 1px solid #363743;
	padding:10px;
	color:#000;
}

.welcombox-img{
	width:70px;
	height:70px;
	border-radius: 5px;
	background: #FFF;
	border-bottom: 1px solid #363743;
	padding:3px; margin-top:20px;
}

.menubox{
	margin-top:10px;
	width:270px;
	height:150px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #f5f8fa;
	padding:10px;
	color:#FFF;
}

.detailbox{
	width:570px;
	min-height:520px;
	height:auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #FFF;
	color:#000;
}

.header{
	float:left;
	width:100%;
	height:46px;
	line-height:40px;
	background-image:url(../images/header_bg.png);
	background-repeat: repeat-x;
	position: fixed;
	top:0;
	z-index:99999;
}

.boxBody{
	float:left;
	width:100%;
	height:auto;
	margin-bottom:10px;
}

table{
	border-collapse:collapse;
}